@media (min-width: 768px) { 
    .header { 
        padding: 50px;
    }
    
    #logo {
        width: 307px;
        height: 47px;
        float: right;
    }
  }

@media (max-width: 767px) {
    #logo {
        display: block;
        width: 307px;
        height: 47px;
        margin: 35px auto;
    }
}

/* Global Values */
body, html {
    height: 100%;
    margin: 0;
}

.error {
    background-image: url("../../static/images/404.jpg");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-top: 75px;
}