@media (min-width: 768px) { 
    .header { 
        padding: 50px;
    }
    
    #logo {
        width: 307px;
        height: 47px;
        float: right;
    }
}

@media (max-width: 767px) {
    #logo {
        display: block;
        width: 307px;
        height: 47px;
        margin: 35px auto;
    }

    #error {
        width: 100%;
    }
}

#error {
    display: block;
    margin: auto;
    margin-top: 1%;
}