@media (min-width: 768px) { /* Only apply to browsers larger than 768px */
    .header { /* General positioning for the page label and logo */
        padding: 50px;
    }
    
    #page-label-container {
        border-bottom: 1px solid;
        float: left;
    }
    
    #logo {
        width: 307px;
        height: 47px;
        float: right;
    }

    #main-box { /* Spans the browser and disregards the float values of the header */
        clear: both;
        padding: 50px;
    }

    #policy-number-textbox {
        width: 200px;
    }

    #date-textbox {
        width: 200px;
    }
}

@media (max-width: 767px) {
    #logo {
        display: block;
        width: 307px;
        height: 47px;            
        margin: 35px auto;
    }

    #main-box {
        padding: 25px;
    }
}

    /* Global Values */
    #page-label {
        font-family: "Comic Sans MS", cursive, sans-serif;
        opacity: .75;
    }