<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Policy Database - BriteCore</title>
  <meta name="description" content="Landing Page for the Policies Database">
  <meta name="author" content="Yovarni Yearwood">

  <!-- Bootstrap & jQuery CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/index.css">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="background"></div>

  <div class="header">
    <div id="page-label-container" class="d-none d-md-block">
      <h1 id="page-label">Policy Database</h1>
    </div>
    <img id="logo" src="/static/images/britecore.png" alt="BriteCore Logo">
  </div>

  <div id="main-box" class="container-fluid">
    <p id="main-box-label">Search the database</p>
    <div id="textboxes" class="row">
      <div class="col-lg-6 col-md-6">
        <input id="policy-number-textbox" type="text" class="form-control" placeholder="Policy Number">
      </div>
      <div class="col-lg-6 col-md-6">
        <input id="date-textbox" type="date" class="form-control">
      </div>
    </div>

    <button onClick="searchDatabase()" id="submit-button" type="submit" class="btn btn-primary btn-lg">Submit</button>
    <button onClick="moveToPolicies()" id="view-all-button" role="button" class="btn btn-secondary">View All</button>

    <script>
        window.onload = function(){
          document.getElementById("policy-number-textbox").value = "";
          document.getElementById("date-textbox").value = "";
        }

        function moveToPolicies(){ // Allows us to keep the formatting of the button without changing the tags to <a>
          location.href = "{{url_for('policies')}}";
        }
    
        function searchDatabase(){
          policyNumber = document.getElementById("policy-number-textbox").value;
          date = document.getElementById("date-textbox").value;
    
          if(policyNumber == "" && date == ""){
            alert("No data was entered.")
          } else if(date == ""){
            alert("No date was picked.");
          } else if(policyNumber == ""){
            alert("No policy number was entered.");
          } else {
            policyNumber = policyNumber.replace(" ", "_") // Make the code HTML safe by removing whitespace and replacing with a placeholder character
            location.href = "{{url_for('policyInvoices')}}/" + policyNumber;
          }
        }
      </script>
  </div>
</body>
</html>