<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{policyNumber}} - BriteCore</title>
    <meta name="description" content="Invoices for a Policy">
    <meta name="author" content="Yovarni Yearwood">

    <!-- Library Dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://knockoutjs.com/downloads/knockout-3.5.0rc2.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/policyInvoices.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
  
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <img id="logo" src="/static/images/britecore.png" alt="BriteCore Logo">
        <div id="page-label-container">
            <h1 id="page-label">Invoices - {{policyNumber}}</h1>
            <h5 id="secondary-page-label"> Account Balance: ${{accountBalance}}</h5>
        </div>
    </div>

    <div id="main-box">
        <table >
            <thead>
                <tr>
                    <th>Bill Date</th>
                    <th>Due Date</th>
                    <th>Cancel Date</th>
                    <th>Amount Due</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: currentInvoices">
                <tr>
                    <td data-bind="text: billDate"></td>
                    <td data-bind="text: dueDate"></td>
                    <td data-bind="text: cancelDate"></td>
                    <td data-bind="text: amountDue">$</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div id="left-footer">
            <button onClick="moveToIndex()" id="back-button" role="button" class="btn btn-secondary">Go Back</button>  
        </div>
        <div id="right-footer">
            <input id="policy-number-textbox" type="policy-number" class="form-control" placeholder="Policy Number">
            <input id="date-textbox" type="date" class="form-control" placeholder="Date">
            <button onClick="searchDatabase()" id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <script type=text/javascript>
        function moveToIndex(){
            location.href = "{{url_for('index')}}"
        }

        function Invoice(id, policyId, billDate, dueDate, cancelDate, amountDue, deleted){
            var self = this;
            self.id = id;
            self.policyId = policyId;
            self.billDate = billDate;
            self.dueDate = dueDate;
            self.cancelDate = cancelDate;
            self.amountDue = amountDue;
            self.deleted = deleted;
        }

        function InvoicesViewModel(){
            var self = this;

            var invoices = {{invoices|tojson|safe}}; 
            self.currentInvoices = [];

            for(i=0; i<invoices.length; i++){
                var invoice = JSON.parse(invoices[i]); 

                self.currentInvoices.push(
                    new Invoice(
                        invoice.id,
                        invoice.policy_id,
                        invoice.bill_date,
                        invoice.due_date,
                        invoice.cancel_date,
                        invoice.amount_due,
                        invoice.deleted
                    )
                );
            }
        }
    
        window.onload = function(){
            document.getElementById("policy-number-textbox").value = "";
            document.getElementById("date-textbox").value = "";
        }
        
        ko.applyBindings(new InvoicesViewModel());

        function searchDatabase(){
            policyNumber = document.getElementById("policy-number-textbox").value;
            date = document.getElementById("date-textbox").value;
    
            if(policyNumber == "" && date == ""){
                alert("No data was entered.")
            } else if(date == ""){
                alert("No date was picked.");
            } else if(policyNumber == ""){
                alert("No policy number was entered.");
            } else {
                policyNumber = policyNumber.replace(" ", "_") // Make the code HTML safe by removing whitespace and replacing with a placeholder character
                date = date.replace(" ", "_")
                location.href = "{{url_for('policyInvoices')}}/" + policyNumber + "/" + date;
            }
        }
    </script>
</body>
</html>