<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Policies - BriteCore</title>
    <meta name="description" content="List of all policies">
    <meta name="author" content="Yovarni Yearwood">

    <!-- Library Dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://knockoutjs.com/downloads/knockout-3.5.0rc2.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/policies.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
  
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <img id="logo" src="/static/images/britecore.png" alt="BriteCore Logo">
        <div id="page-label-container">
            <h1 id="page-label">Policies</h1>
        </div>
    </div>

    <div id="main-box" table="tale-responsive">
        <table>
            <thead>
                <tr>
                    <th>Policy Number</th>
                    <th>Status</th>
                    <th>Annual Premium</th>
                    <th>Effective Date</th>
                    <th>Billing Schedule</th>
                    <th>Named Insured</th>
                    <th>Agent</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: currentPolicies">
                <tr>
                    <td><span data-bind="text: policyNumber"></span></td>
                    <td><span data-bind="text: status"></span></td>
                    <td><span id="currency" data-bind="text: annualPremium"></span></td>
                    <td><span data-bind="text: effectiveDate"></span></td>
                    <td><span data-bind="text: billingSchedule"></span></td>
                    <td><span data-bind="text: namedInsured"></span></td>
                    <td><span data-bind="text: agent"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer" class="container-fluid">
        <div id="left-footer">
            <button onClick="moveToIndex()" id="back-button" role="button" class="btn btn-secondary">Go Back</button>  
        </div>
        <div id="right-footer">
            <input id="policy-number-textbox" type="policy-number" class="form-control" placeholder="Policy Number">
            <input id="date-textbox" type="date" class="form-control" placeholder="Date">
            <button onClick="searchDatabase()" id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <!-- For the script to run, it must be included at the bottom of the <body> tag -->
    <script type=text/javascript>
        function moveToIndex(){
            location.href = "{{url_for('index')}}"
        }

        function Policy(policyNumber, effectiveDate, status, billingSchedule, annualPremium, namedInsured, agent){
            var self = this;
            self.policyNumber = policyNumber;
            self.effectiveDate = effectiveDate;
            self.status = status;
            self.billingSchedule = billingSchedule;
            self.annualPremium = annualPremium;
            self.namedInsured = namedInsured;
            self.agent = agent;
        }
        
        function PoliciesViewModel(){
            var self = this;

            /*  {{var}} is the syntax used for reading the variable passed into the HTML document from Flask.
                "tojson" converts the variable into local JSON readable by the Javascript and "safe" prevents any
                HTML escapable characters from being put into the array. */
            var policies = {{policies|tojson|safe}}; 
            self.currentPolicies = [];

            for(i=0; i<policies.length; i++){
                var policy = JSON.parse(policies[i]); /* Parse the JSON into readable strings. */

                self.currentPolicies.push(
                    new Policy(
                        policy.policy_number,
                        policy.effective_date,
                        policy.status,
                        policy.billing_schedule,
                        policy.annual_premium,
                        policy.named_insured,
                        policy.agent
                    )
                );
            }
        }
    
        ko.applyBindings(new PoliciesViewModel());
        
        window.onload = function(){
            document.getElementById("policy-number-textbox").value = "";
            document.getElementById("date-textbox").value = "";
        }

        function searchDatabase(){
            policyNumber = document.getElementById("policy-number-textbox").value;
            date = document.getElementById("date-textbox").value;
    
            if(policyNumber == "" && date == ""){
                alert("No data was entered.")
            } else if(date == ""){
                alert("No date was picked.");
            } else if(policyNumber == ""){
                alert("No policy number was entered.");
            } else {
                policyNumber = policyNumber.replace(" ", "_") // Make the code HTML safe by removing whitespace and replacing with a placeholder character
                date = date.replace(" ", "_")
                location.href = "{{url_for('policyInvoices')}}/" + policyNumber + "/" + date;
            }
        }
    </script>
</body>
</html>