<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Policies Database - BriteCore</title>
  <meta name="description" content="List of all policies">
  <meta name="author" content="Yovarni Yearwood">

  <!-- Library Dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://knockoutjs.com/downloads/knockout-3.5.0rc2.js"></script>
  <!--<script type="text/javascript" src="static/scripts/knockout.mapping-latest.js"></script>-->

  <!-- CSS -->
  <link rel="stylesheet" href="static/css/tables.css">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
    
</head>
<body>
  <div class="header">
    <div id="page-label-container" class="d-none d-md-block">
      <h1 id="page-label">Policies</h1>
    </div>
    <img id="logo" src="/static/images/britecore.png" alt="BriteCore Logo">
  </div>

  <div id="main-box" class="container-fluid">
      <table class="table table-striped table-bordered">
          <thead class="thead-dark">
              <tr>
                  <th>Policy Number</th>
                  <th>Effective Date</th>
                  <th>Status</th>
                  <th>Billing Schedule</th>
                  <th>Annual Premium</th>
                  <th>Named Insured</th>
                  <th>Agent</th>
              </tr>
          </thead>
          <tbody data-bind="foreach: currentPolicies">
              <tr>
                  <td data-bind="text: policyNumber"></td>
                  <td data-bind="text: effectiveDate"></td>
                  <td data-bind="text: status"></td>
                  <td data-bind="text: billingSchedule"></td>
                  <td data-bind="text: annualPremium"></td>
                  <td data-bind="text: namedInsured"></td>
                  <td data-bind="text: agent"></td>
              </tr>
          </tbody>
      </table>
  </div>

    <div class="container">
        <div id="footer" class="row">
            <div class="col-lg-6">
                <a href="{{url_for('index')}}" id="back-button" role="button" class="btn btn-secondary">Go Back</a>  
            </div>
            <div class="col-lg-2">
                <input id="policy-number-textbox" type="policy-number" class="form-control" placeholder="Policy Number">
            </div>
            <div class="col-lg-2">
                <input id="date-textbox" type="date" class="form-control" placeholder="Date">
            </div>
            <div class="col-lg-2">
                <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

    <!-- For the script to run, it must be included at the bottom of the <body> tag -->
    <script type=text/javascript>
        function Policy(id, policyNumber, effectiveDate, status, billingSchedule, annualPremium, namedInsured, agent){
            var self = this;
            self.id = id;
            self.policyNumber = policyNumber;
            self.effectiveDate = effectiveDate;
            self.status = status;
            self.billingSchedule = billingSchedule;
            self.annualPremium = annualPremium;
            self.namedInsured = namedInsured;
            self.agent = agent;
        }
        
        function PoliciesViewModel(){
            var self = this;

            /*  {{var}} is the syntax used for reading the variable passed into the HTML document from Flask.
                "tojson" converts the variable into local JSON readable by the Javascript and "safe" prevents any
                HTML escapable characters from being put into the array. */
            var policies = {{policies|tojson|safe}}; 
            self.currentPolicies = [];

            for(i=0; i<policies.length; i++){
                var policy = JSON.parse(policies[i]); /* Parse the JSON into readable strings. */

                self.currentPolicies.push(
                    new Policy(
                        policy.id,
                        policy.policy_number,
                        policy.effective_date,
                        policy.status,
                        policy.billing_schedule,
                        policy.annual_premium,
                        policy.named_insured,
                        policy.agent
                    )
                );
            }
        }
    
    ko.applyBindings(new PoliciesViewModel());
        </script>
</body>
</html>